/*//::-webkit-scrollbar {width: 6px;height:6px;}*/
/*//::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}*/
/*//::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}*/
/*//::-webkit-scrollbar-thumb:vertical:hover{background: #555555}*/
/*//::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}*/
/*//*/
/*//*/
/*//*/
/*//*/
/*//*/
/*//.hidden,.none{*/
/*//    display: none !important;*/
/*//}*/
/*//.block{*/
/*//    display: block !important;*/
/*//}*/
/*//.text-center{*/
/*//    text-align: center;*/
/*//}*/
/*//.text-right{*/
/*//    text-align: right;*/
/*//}*/
/*//.pull-right{*/
/*//    float: right;*/
/*//}*/
/*//.pull-left{*/
/*//    float: left;*/
/*//}*/
/*//.noData{*/
/*//    text-align:center;*/
/*//}*/
/*//.noData i{*/
/*//    margin: 0 5px;*/
/*//}*/
/*//.ml5{*/
/*//    margin-left: 5px !important;*/
/*//}*/
/*//.mr5{*/
/*//    margin-right: 5px !important;*/
/*//}*/
/*//.mt5{*/
/*//    margin-top: 5px !important;*/
/*//}*/
/*//.mt10{*/
/*//    margin-top: 10px !important;*/
/*//}*/
/*//.mt20{*/
/*//    margin-top: 20px !important;*/
/*//}*/
/*//.mt24{*/
/*//    margin-top: 24px !important;*/
/*//}*/
/*//.mt30{*/
/*//    margin-top: 30px !important;*/
/*//}*/
/*//.mt40{*/
/*//    margin-top: 40px !important;*/
/*//}*/
/*//.ml10{*/
/*//    margin-left: 10px !important;*/
/*//}*/
/*//.ml20{*/
/*//    margin-left: 20px !important;*/
/*//}*/
/*//.mb10{*/
/*//    margin-bottom: 10px !important;*/
/*//}*/
/*//.p10{*/
/*//    padding: 10px;*/
/*//}*/
/*//.p5{*/
/*//    padding: 5px;*/
/*//}*/
/*//.p15{*/
/*//    padding: 15px;*/
/*//}*/
/*//.pl10{*/
/*//    padding-left:10px;*/
/*//}*/
/*//.p20{*/
/*//    padding: 20px;*/
/*//}*/
/*//.w100{*/
/*//    width: 100% !important;*/
/*//}*/
/*//*/
/*//ul{*/
/*//    margin:0;padding:0;*/
/*//}*/
/*//ul>li{*/
/*//    list-style: none;*/
/*//}*/
/*//*/
/*//.icon-fullscreen{*/
/*//    display: inline-block;*/
/*//    width: 12px;*/
/*//    height: 12px;*/
/*//    backgroundImage:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAuUlEQVQoU2NkQAIu/a8dGP8z/EcWA7F3F4kehIkxghiu/a8M/v37t4GRkeEBumIQ//9/BgUmJqaA3YViF8AaXPpebvj/j2HB3hLxDdg0OPe8DGBkYkjYUyQeANXw4gADI3PDnkLRA9g0gJzK8P9vw54iCYdhpOHlBgZGpgn4Pf2vAB5KoGBjYPw/gZGJcT72ePifwPCPsRAU7OBQAgGH/vcKLAx/FLBp+MPA8uBAoSA4UuEasCnEJgYAg4VwDYau1eIAAAAASUVORK5CYII=);*/
/*//}*/
/*//.dataUI-list{*/
/*//    li{*/
/*//        display: inline-block;*/
/*//        margin: 5px 0 0 5px;*/
/*//    }*/
/*//    .anticon.fail{*/
/*//        color: #d20624;*/
/*//    }*/
/*//    .anticon.warn{*/
/*//        color: #ff9c34;*/
/*//    }*/
/*//    .anticon.success{*/
/*//        color: #1b8048;*/
/*//    }*/
/*//}*/
/*//.text-ellipsis{*/
/*//    text-overflow: ellipsis;*/
/*//    overflow: hidden;*/
/*//    white-space: nowrap;*/
/*//}*/
/*//.dg.main .close-button.close-bottom{*/
/*//    display: none;*/
/*//}*/
/*//*/
/*//*/
/*////page*/
/*//.page{*/
/*//    min-height: 100vh;*/
/*//*/
/*//*/
/*//    .trigger{*/
/*//        font-size: 18px;*/
/*//        line-height: 64px;*/
/*//        padding: 0 24px;*/
/*//        cursor: pointer;*/
/*//        transition: color .3s;*/
/*//    }*/
/*//    .page-sider{*/
/*//        box-shadow: 2px 0 6px rgba(0,21,41,.35);*/
/*//    }*/
/*//    .page-main{*/
/*//        padding: 0 24px 24px;*/
/*//    }*/
/*//    .page-main-noBreadcrumb{*/
/*//        padding: 0;*/
/*//    }*/
/*//    .page-breadcrumb{*/
/*//        display: inline-block;*/
/*//        margin: 12px 0;*/
/*//    }*/
/*//    .page-content{*/
/*//        background: #fff;*/
/*//        padding: 24px;*/
/*//        margin: 20px 0 0 0;*/
/*//        min-height: 280px;*/
/*//    }*/
/*//}*/
/*//*/
/*//.dragHandle{*/
/*//    cursor: move;*/
/*//}*/
/*//.toolbar {*/
/*//    height: 30px;*/
/*//    margin: 0 0 10px 0;*/
/*//    box-shadow: 1px 1px 5px #ccc;*/
/*//    background-color: #F9F9F9;*/
/*//}*/
/*//.exportBnt, .drillUp, .drillDown{*/
/*//    margin:7px 5px 10px 5px;*/
/*//    float: right;*/
/*//    width: 15px;*/
/*//    height: 15px;*/
/*//    cursor: pointer;*/
/*//}*/
/*//.exportBnt{*/
/*//    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiBoZWlnaHQ9IjMwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMCAzMCIgd2lkdGg9IjMwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI4LjcwNSw3LjUwNmwtNS40NjEtNi4zMzNsLTEuMDgtMS4yNTRIOS4yNjIgICBjLTEuNzMyLDAtMy4xMzMsMS40MDMtMy4xMzMsMy4xMzZWNy4wNGgxLjk0Mkw4LjA3LDMuODE4YzAuMDAyLTAuOTc1LDAuNzg2LTEuNzY0LDEuNzU4LTEuNzY0bDExLjAzNC0wLjAxdjUuMjI4ICAgYzAuMDAyLDEuOTQ3LDEuNTc1LDMuNTIzLDMuNTI0LDMuNTIzaDMuODE5bC0wLjE4OCwxNS4wODFjLTAuMDAzLDAuOTctMC43OSwxLjc1My0xLjc1OSwxLjc2MWwtMTYuNTctMC4wMDggICBjLTAuODg3LDAtMS42MDEtMC44Ny0xLjYwNS0xLjk0MnYtMS4yNzdINi4xMzh2MS45MDRjMCwxLjkxMiwxLjI4MiwzLjQ2OCwyLjg1NiwzLjQ2OGwxNy44MzEtMC4wMDQgICBjMS43MzIsMCwzLjEzNy0xLjQxLDMuMTM3LTMuMTM5VjguOTY2TDI4LjcwNSw3LjUwNiIgZmlsbD0iIzQzNDQ0MCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PHBhdGggZD0iTTIwLjIyMywyNS4zODJIMFY2LjA2OGgyMC4yMjNWMjUuMzgyIE0xLjk0MywyMy40MzhoMTYuMzMzVjguMDEySDEuOTQzIiBmaWxsPSIjMDg3NDNCIi8+PHBvbHlsaW5lIGZpbGw9IiMwODc0M0IiIHBvaW50cz0iMTUuNzMsMjAuODIyIDEyLjMyNSwyMC44MjIgMTAuMDAxLDE3LjUzOCA3LjU2MSwyMC44MjIgNC4xNCwyMC44MjIgOC4zODQsMTUuNDg2IDQuOTU3LDEwLjgxNyAgICA4LjQxMiwxMC44MTcgMTAuMDE2LDEzLjM1NSAxMS43MjYsMTAuODE3IDE1LjI0MiwxMC44MTcgMTEuNjQ5LDE1LjQ4NiAxNS43MywyMC44MjIgICIvPjwvZz48L3N2Zz4=);*/
/*//    background-size: cover;*/
/*//}*/
/*//*/
/*//form.searchForm{*/
/*//    .ant-form-item{*/
/*//        margin-bottom: 15px;*/
/*//    }*/
/*//    .ant-form-item-label{*/
/*//        text-overflow: ellipsis;*/
/*//    }*/
/*//}*/
/*//.text-ellipsis{*/
/*//    //display: block;*/
/*//    overflow: hidden;*/
/*//    text-overflow: ellipsis;*/
/*//    white-space: nowrap;*/
/*//    margin: 0;*/
/*//}*/
/*//*/
/*//.f16{*/
/*//    font-size: 16px;*/
/*//}*/
/*//.fb{*/
/*//    font-weight: bold;*/
/*//}*/
